<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tonghetang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>zhenhuitiao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BDFAC0E20D0BC8A001DC41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BDFAC2620D0BC95001DC41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BDFAC3120D0BC95001DC41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
